.thumbnail-attached {
  background-size: cover;
  background-position: top center;
}
.loading {
  background: transparent url(../../resources/loading.svg) no-repeat center center;
  background-size: 24px 24px;
}
.modal-wrap {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.modal {
  padding: 25px;
  width: 400px;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  background-color: #fff;
  margin-left: -200px;
  margin-top: -115.5px;
  display: block;
  > .close {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: transparent url(../../resources/container.modal.close.png) no-repeat center center;
    background-size: 15px 15px;
    cursor: pointer;
  }
  > h3 {
    margin-bottom: 15px;
    color: #292929;
    font-size: 18px;
    font-weight: normal;
  }
  > p {
    clear: both;
    margin-bottom: 15px;
    > label {
      display: block;
      margin-bottom: 5px;
      color: #737373;
      font-size: 12px;
      font-weight: bold;
    }
    > textarea {
      padding: 5px;
      width: 100%;
      height: 80px;
      line-height: 20px;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      resize: none;
      color: #292929;
      font-size: 14px;
    }
  }
  > .button-delete {
    margin-left: 0;
    margin-right: 8px;
    color: #737373;
    background-color: #f2f2f2;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    border: 0;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  > .button-save {
    float: right;
    margin-left: 5px;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    border: 0;
    border-radius: 18px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background-color: #c62917;
    cursor: pointer;
  }
}
