.board {
  width: 780px;
  box-sizing: border-box;
  margin-right: 10px;
  > .board-title {
    float: none;
    position: relative;
    width: 780px;
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    > a {
      color: #292929;
      font-size: 22px;
      font-weight: bold;
    }
  }
  > .loading {
    padding: 80px 0;
    color: #a6a6a6;
    font-size: 18px;
    text-align: center;
  }
  > article {
    margin-bottom: -1px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    > .post {
      display: block;
      padding: 15px;
      color: #666;
      > .profile-picture {
        margin: 0 10px 15px 0;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        float: left;
      }
      > .profile {
        float: left;
        margin-bottom: 15px;
        height: 40px;
        > h3.large {
          height: 20px;
          max-width: 200px;
          line-height: 20px;
          font-size: 14px;
          font-weight: bold;
        }
        > h3 {
          color: #292929;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        > time.large {
          height: 20px;
          line-height: 20px;
          font-size: 12px;
        }
        > time {
          color: #a6a6a6;
          letter-spacing: 0;
        }
      }
      > .status {
        float: right;
        > li {
          float: left;
          margin-left: 8px;
          padding: 0 2px;
          height: 20px;
          line-height: 20px;
          color: #a6a6a6;
          font-size: 12px;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 11px 11px;
          cursor: pointer;
        }
      }
      > hr {
        clear: both;
        height: 0;
        border: 0;
        width: 100%;
      }
      > h2.large {
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: bold;
      }
      > h2 {
        color: #292929;
      }
      > p.large {
        padding-bottom: 15px;
        line-height: 20px;
        color: #444444;
        font-size: 14px;
      }
      > p {
        word-break: break-all;
      }
      > .attaches-full {
        > .attach {
          margin-bottom: 15px;
          position: relative;
          display: block;
          > img {
            max-width: 100%;
            height: auto;
            border: 1px solid #e3e3e3;
          }
          > figcaption {
            margin-top: 2px;
            padding: 10px;
            border: 1px solid #f2f2f2;
            line-height: 18px;
            color: #444444;
            font-size: 14px;
            word-wrap: break-word;
            background-color: #fff;
          }
        }
      }
      > .status-left {
        float: left;
        padding: 0 2px;
        height: 20px;
        line-height: 20px;
        color: #a6a6a6;
        font-size: 12px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 11px 11px;
        cursor: pointer;
        > li {
          margin-left: 0;
          margin-right: 8px;
          cursor: auto;
          float: left;
          padding: 0 2px;
          height: 20px;
          line-height: 20px;
          color: #a6a6a6;
          font-size: 12px;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 11px 11px;
          cursor: pointer;
        }
        > .vote {
          padding-left: 15px;
          color: #c62917;
          background-image: url(../../resources/container.posts.vote.png);
        }
        > .comment {
          padding-left: 15px;
          color: #0ca5af;
          background-image: url(../../resources/container.posts.comment.png);
        }
        > .scrap {
          padding-left: 15px;
          color: #ffcc1c;
          background-image: url(../../resources/container.posts.scrap.png);
        }
      }
      > .buttons {
        display: flex;
        padding-top: 16px;
        > span {
          margin-right: 4px;
          padding: 0 12px 0 27px;
          line-height: 30px;
          border-radius: 8px;
          color: #737373;
          font-size: 12px;
          font-weight: bold;
          cursor: pointer;
          background-color: #f9f9f9;
          background-repeat: no-repeat;
          background-position: left 12px center;
          background-size: 11px 11px;
        }
        > .posvote {
          background-image: url(../../resources/container.posts.buttons.posvote.png);
        }
        > .scrap {
          background-image: url(../../resources/container.posts.buttons.scrap.png);
        }
      }
    }
    > .comments {
      display: block;
      > .write-comment {
        position: relative;
        border-top: 1px solid #e3e3e3;
        background-color: #f8f8f8;
        > input {
          margin: 0;
          padding: 10px 85px 10px 10px;
          border: 0;
          width: 100%;
          height: 40px;
          line-height: 20px;
          box-sizing: border-box;
          color: #262626;
          font-size: 13px;
          overflow: hidden;
          resize: none;
          background-color: transparent;
        }
        > .option {
          position: absolute;
          right: 0;
          top: 0;
          height: 40px;
          font-size: 0;
          > li {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 40px 40px;
            cursor: pointer;
          }
          > .anonym {
            margin-right: 5px;
            background-image: url(../../resources/container.posts.write.anonym.png);
          }
          > .anonym-active {
            margin-right: 5px;
            background-image: url(../../resources/container.articles.write.anonym.active.png);
          }
          > .submit {
            background-color: #c62917;
            background-image: url(../../resources/container.posts.write.submit.png);
          }
        }
      }
    }
  }
  > .pagination {
    > a {
      display: block;
      margin-top: 5px;
      margin-left: 5px;
      padding: 0 10px 0 25px;
      height: 35px;
      line-height: 35px;
      border: 1px solid #c62917;
      border-radius: 3px;
      color: #c62917;
      font-size: 14px;
      font-weight: bold;
      background-repeat: no-repeat;
      background-position: 10px center;
      background-size: 10px 10px;
      cursor: pointer;
      float: left;
      background-image: url(../../resources/container.posts.pagination.list.png);
    }
  }
}
