.account {
  width: 175px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  > .my-info {
    height: 219px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    background-color: #f9f9f9;
    text-align: center;
    > img {
      margin: 15px auto;
      border-radius: 6px;
      width: 60px;
      height: 60px;
    }
    > p {
      line-height: 15px;
      color: #a6a6a6;
      font-size: 12px;
    }
    > p:nth-child(2) {
      margin-bottom: 5px;
      line-height: 20px;
      color: #393939;
      font-size: 18px;
      font-weight: bold;
    }
    > ul {
      display: flex;
      margin-top: 15px;
      gap: 5px;
      > li {
        > .button {
          display: block;
          width: 66.5px;
          height: 27px;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          color: #737373;
          font-size: 13px;
          text-align: center;
          line-height: 27px;
          background-color: #f9f9f9;
          cursor: pointer;
        }
      }
      > li:last-child {
        button {
          width: 71.5px;
        }
      }
    }
  }
  > .my-articles {
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    background-color: #f9f9f9;
    > a {
      padding: 10px 0 10px 37px;
      border-bottom: 1px solid #e3e3e3;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 20px;
      color: #444444;
      background-repeat: no-repeat;
      background-size: 12px auto;
      background-position: 15px center;
      background-image: url(../..//resources/my-article.png);
    }
    > a:nth-child(2) {
      background-image: url(../..//resources/my-comment-article.png);
    }
    > a:last-child {
      border: none;
      background-image: url(../..//resources/my-scrap.png);
    }
  }
  > .banners {
    height: 500px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
}
