.main {
  width: 600px;
  display: flex;
  flex-direction: column;
  > .banner {
    height: 160px;
    border: 1px solid #000;
    box-sizing: border-box;
  }
  > .boards {
    margin: 15px 0;
  }
  > .bookstore {
  }
}
