.chat-body {
    display: flex;
    margin-top: 80px;
    > .chats {
        margin-top: 15px;
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        > .chat {
            width: 296.6px;
            height: 192.8px;
            box-sizing: border-box;
            border: 1px solid #e3e3e3;
            background-color: #fff;
            > a {
                display: block;
                padding: 10px;
                > p {
                    line-height: 18px;
                }
                > time {
                    color: #a6a6a6;
                    font-size: 11px;
                    letter-spacing: 0;
                }
            }
        }
  }
}