.email-verify-page {
  display: flex;
  margin-top: 80px;
  > .card {
    margin: 24px auto 0 auto;
    padding: 24px;
    width: 480px;
    border: 1px solid #ededed;
    border-radius: 12px;
    box-sizing: border-box;
    > h1 {
      line-height: 30px;
      color: #292929;
      font-size: 22px;
      font-weight: bold;
      font-family: '맑은 고딕';
    }
    > section {
      margin-top: 24px;
      > h2 {
        line-height: 26px;
        color: #292929;
        font-size: 18px;
        font-weight: bold;
        font-family: '맑은 고딕';
      }
      > p {
        color: #737373;
        font-family: '맑은 고딕';
        font-size: 12px;
      }
    }
  }
}
